<div class="container content">
	<%= image_tag "dragon.jpg", :width => 1000, :class => "hidden-phone" %>
	<h1>I just bought a zoo... And there are 2 dragons!</h1>
	<h3>How would I build a habitat that keeps both the dragons and park visitors safe?</h3>
	<ul>
		<li class="list-headline">Research
			<ol >
				<li>Identify fireproof building material</li>
				<li>Find out what dragons eat</li>
				<li>Find out how strong dragons are</li>
				<li>Hire Kalisi from Game of Thrones to lead dragons</li>
			</ol>
		</li>
		<br>
		<li class="list-headline">Test
			<ol>
				<li>Test new caging system</li>
				<li>Test food feeding system</li>
				<li>Test visiblity through windows</li>
				<li>Test food feeding system</li>
			</ol>
		</li>
		<br>
		<li class="list-headline">Implement
			<ol>
				<li>Make sure the view is awesome for visitors</li>
				<li>Finalize and install new buildings and measures</li>
				<li>Count all the money we'll soon be rolling in for having 2 dragons!</li>
			</ol>
		</li>
	</ul>
</div>