<div class="headline">
	<h1>Library Sorting Magic!</h1>
	<h3>Enter the titles of some awesome books about ninjas, unicorns and brownies</h6>
</div>

book_array=["foo", "bar", "hello", "world"]
	width=book_array.length
	height=
	library_array=Array.new

	