<div class="headline">
	<h1>Library Sorting Magic!</h1>
	<h3>Checkout my Github for some book sorting magic!</h6>
	<%= link_to "Magic!", "https://github.com/JosephNgo/techU/blob/master/public/library_book_sorter.rb", :target => "_blank"%>
</div>

