<div class="headline">
	<h1>Library Sorting Magic!</h1>
	<h3>Checkout my Github for some book sorting magic!</h6>
	<%= link_to image_tag('github_angry_unicorn_300.png')+"<= CLICK ME!", "http://github.com/JosephNgo/techU/blob/master/public/library_book_sorter.rb", :target => "_blank"%>
</div>

