<div class="headline">
	<h1>Time to choose your team!</h1>
	<h3>Surrounding yourself with the right combination of skills and personalities is the difference between life and death</h3>
	<h6>Use the guide below to fill out your team</h6>
</div>

<div class="container ">
	<ul class="crew span12">
		<li class="teammate span3">
			<p class="crew_position">Handyman</p>
			<%= image_tag "handyman.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">Everyone needs a handyman.  He can fix anything mechanical. You'll need him to design and implement the ultimate zombie stronghold and zombie killing machines. </p>
		</li>

		<li class="teammate span3">
			<p class="crew_position">Chef</p>
			<%= image_tag "chef.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">We all need to eat. You need creativity when you only have owls and squirrels as good eats. Just harm this person with a gun and cleaver.</p>
		</li>

		<li class="teammate span3">
			<p class="crew_position">Doc</p>
			<%= image_tag "doc.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">From cuts to missing limbs. Have someone around to keep you alive after any accident. He's also very handy with a scalpel.</p>
		</li>

		<li class="teammate span3">
			<p class="crew_position">Farmer</p>
			<%= image_tag "farmer.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">Once you've finally found a place to settle down.  You'll need to start farming for a steady food supply.  This person loves their topsoil and irrigation patterns more then roasting beets over an open fire. </p>
		</li>
	</ul>
</div>