<div class="headline">
	<h1>Zombies!</h1>
	<h3>The outbreak is reality.  Use this guide to prepare yourself for the next few years of hell on earth.</h3>
	<h6>Always remember to strech before taking hard swings to the head.</h6>
</div>

<div class="hero">
	<%= image_tag "background3.jpg", :class => "hero-img"%>
</div>