<div class="headline">
	<h1>Location.Location.Location!</h1>
	<h3>Time to get armed. After spending a good portion of my life playing World of Warcraft and Diablo, I know the true value of arming yourself correctly</h3>
	<h6>Use the guide below to arm yourself</h6>
</div>

<div class="container">
	<ul class="locations">
		<li class="location">
			<p class="location-title">Woods</p>
			<%= image_tag "location1.jpeg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">Good choice.  The woods are a perfect place to stay low.  They also offer tons of natural resources such as wild game, water, berries, and maybe elves. </p>
		</li>

		<li class="location">
			<p class="location-title">City</p>
			<%= image_tag "location2.jpeg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">Bad idea. Get out! If your thought rush hour traffic or a black Friday sale was rough... just wait til 80% of the city's population is infected. </p>
		</li>

		<li class="location">
			<p class="location-title">Prison</p>
			<%= image_tag "location3.jpeg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">Bingo! It worked for our favorite rag tag gang from Atlanta and even helped Eli and his book find a safe haven. What once kept dangerous people in now keeps them out. Irony. </p>
		</li>

		<li class="location">
			<p class="location-title">Carnival</p>
			<%= image_tag "location4.jpeg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">What's scarier then zombies? How about zombie clowns! Don't let the cotten candy, rollercoasters and bucket toss give you a false sense of security. Beware of the insanity that is the carnival. </p>
		</li>
	</ul>
</div>