<div class="headline">
	<h1>Supplies!</h1>
	<h3>This is almost like playing Oregon Trail on your old AppleIIe. Except there are zombies.  And other humans who want your brains or supplies.  Time to gather supplies.</h3>
	<h6>Use the guide below to fill your 40 slot bag</h6>
</div>

<div class="container">
	<ul class="supplies">
		<li class="item">
			<p class="crew_position">Stores</p>
			<%= image_tag "supplies1.jpg", :width => 300, :class => "supply_img", :class => "hidden-phone" %>
			<p class="crew_description">Hit up your local general store and start pilaging. Walmarts, Costco's, prisons, and schools are great places to look for supplies.</p>
		</li>

		<li class="item">
			<p class="crew_position">Canned Foods</p>
			<%= image_tag "supplies2.jpeg", :width => 300, :class => "supply_img", :class => "hidden-phone" %>
			<p class="crew_description">We all love our organic chickens and avocados.  But during a zombie outbreak, it's best to think about the long term.  Canned and non-perishable foods are your best bets. </p>
		</li>

		<li class="item">
			<p class="crew_position">Assult Weapons</p>
			<%= image_tag "supplies3.jpg", :width => 300, :class => "supply_img", :class => "hidden-phone" %>
			<p class="crew_description">Your primary weapon.  This should be the biggest damage inflicted as possible. Great examples are: shotguns, rifles, bow and arrows, submachine guns and even samurai swords. </p>
		</li>
	</ul>
</div>