<div class="headline library">
	<h1>Smile, you're on camera!</h1>
	<h3>I hate taking videos of myself. But, I'll make an exception for TechU.</h3>
</div>

<div class="video">
	<iframe width="640" height="480" src="http://www.youtube.com/embed/ZslZ37ufKA4" frameborder="0" allowfullscreen></iframe>
</div>