<div class="headline">
	<h1>WEAPONS!</h1>
	<h3>Time to get armed. After spending a good portion of my life playing World of Warcraft and Diablo, I know the true value of arming yourself correctly</h3>
	<h6>Use the guide below to arm yourself</h6>
</div>

<div class="container">
	<ul class="crew">
		<li class="teammate">
			<p class="crew_position">Knife</p>
			<%= image_tag "knife.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">Your last resort or when you need to keep a low cover.  A knife, screwdriver, hatchet or hammer are all great one-handed weapons.</p>
		</li>

		<li class="teammate">
			<p class="crew_position">Handgun</p>
			<%= image_tag "handgun.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">A perfect secondary weapon.  Be accurate and aim for the head.  Possible add-ons include silencers and flashlight clips. </p>
		</li>

		<li class="teammate">
			<p class="crew_position">Assult Weapons</p>
			<%= image_tag "assultrifle.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">Your primary weapon.  This should be the biggest damage inflicted as possible. Great examples are: shotguns, rifles, bow and arrows, submachine guns and even samurai swords. </p>
		</li>

		<li class="teammate">
			<p class="crew_position">MISC.</p>
			<%= image_tag "misc.jpg", :width => 200, :class => "crew_img", :class => "hidden-phone" %>
			<p class="crew_description">All the random stuff.  Sticky bombs, flash bangs, grenades, broken chair legs, bowling balls are all examples of random stuff that can fend off zombies.   </p>
		</li>
	</ul>
</div>