body {
	background-image:url('background1.jpg'); 
}
.headline{
	background: white;
	opacity: .9;
}
.hero-img{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	float: right;
}
h1, 
h3, 
h6{
	text-align: center;
	font-family: 'Freckle Face', cursive;
	font-weight: 800;
}
.container{
	margin-right: auto;
	margin-left: auto;
}
.teammate{
	width: 250px;
}
.crew_position, 
.location-title{
	font-weight: bold;
	font-size: 40px;
	color: white;
}
.crew, 
.locations{

	margin-right: auto;
	margin-left: auto;
}
.teammate , 
.item, 
.location{
	list-style: none;
	float: left;
	padding: 10px;
	margin: 20px;
	border: solid 2px thin;
	width: 200px;
	height: 400px;
	margin: 5px;
	box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.29688);
	background-color: black;
	color: #D3D3D3;
}
.supplies{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.supplies_img img{
	border: solid 20px white;
}
.content{
	background-color: white;
	width: 70%;
	padding: 10px;
	margin: 20px;
}
.list-headline{
	font-style: bold;
	font-size: 18px;
	line-height: 150%;
}
.library{
	background-color: white;
}
.unicorn{
	background-color: white;
}
@media (max-width: 60px) {

	.teammate {
		height: 200px;
	}
	.crew_position {
	font-weight: bold;
	font-size: 20px;
	color: white;
	}
}